<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pkcomputer.takacounter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>টাকা গণনা</name>
    <description>টাকা গণনা — নোট হিসাব খাতা অ্যাপ</description>
    <author email="admin@pkcomputer.com">PK Computer</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>